body {
  background-image: url(../images/lakemountain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  background-color: hsl(140, 100%, 90%);
  padding: 5px;
  border-radius: 5px;
  display: flow-root;
  width: max-content;
}
.home {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 18px;
  border: 2px solid white;
  background-color: hsl(140, 100%, 20%);
  border-radius: 5px;
}
hr {
  border: 1.5px solid white;
  margin-top: 20px;
}
p {
  background-color: hsl(140, 100%, 90%);
  padding: 5px;
  border-radius: 5px;
}
