html {
  background-color: lightblue;
}
h1 {
  margin: 15px 0 15px;
}
.home {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: lightgray;
}
hr {
  margin-top: 15px;
  border: 1.5px solid black;
}
main {
  display: flow-root;
}
.box {
  width: 100px;
  height: 100px;
  background-color: coral;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
.box1 {
  float: left;
  margin: 10px 20px;
}
.box2 {
  float: right;
  margin: 10px 20px;
}
