[target="_blank"] {
  display: inline-block;
  margin-bottom: 10px;
}
.lists {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.lists > * {
  padding: 10px;
  background-color: azure;
  border: 2px solid black;
  width: 300px;
}
ol {
  padding: 0 0 0 20px;
}
