h2 {
  font-size: 18px;
}

h1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  color: rgb(255, 111, 0);
  margin: 0;
}
